.Search-input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
  border: 1px solid #ddd;
}

.Search-button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background: transparent;
  color: #808080;
  cursor: pointer;
}

.Search-button:hover {
  color: #222;
}
