.table {
  margin: 20px auto;
  width: 90%;
  border-collapse: collapse;
}

.table thead {
  text-align: left;
}

.table td {
  white-space: nowrap;
  margin: 10px 0;
  padding: 10px;
  background: #ffffff;
}

a {
  color: #222;
}
